.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: tomato;
    color: white;
    font-weight: 600;
    border-radius: 15px;
}
.badge-alret {
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: -7px;
}
