.icon-row {
    display: flex;
    flex-wrap: wrap;
}
.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    opacity: 0.8;
    cursor: pointer;
}
.icon-row__icon i {
    font-size: 35px;
}
.icon-row__icon:hover i {
    animation: rotateIcon 1s;
}
.icon-row__icon span {
    margin-top: 18px;
    text-align: center;
}
@keyframes rotateIcon {
    0% {
        transform: none;
    }
    25% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(90deg);
        transform: scale(1.2);
    }
}
